.titulo{
    font-size: 50px;
    font-family:"Times New Roman";
}
.parrafo{
    font-size:25px;
    font-family: Didot;

}
.titulotravel{
    font-family:"Times New Roman";
}
.contenido{
    font-family: Didot;
}